<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AnimeteK QG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>Version: 1.1.2 (first release)</p>
    <h3>O que há de novo?</h3>
    <p>--Integração com firebase concluída! agora seus animes serão salvos sem problemas</p>
    <p>--Possibilidade da troca da imagem de capa. Com apenas um ponto, guarde sua imagem pois caso queira editar seu anime será necessário inserir uma imagem novamente</p>
    <p>--Limpeza de tela, os recursos não disponíveis foram removidos ou desativados</p>
    <h3>Correções de erros</h3>
    <p>--Corrigimos o erro onde a busca não era possível após troca do service para o firebase</p>
    <p>--Corrigido os problemas de salvar animes e alterações vazias</p>
    <h3>Melhorias Futuras</h3>
    <p>--Adição da funcionalidade de buscar por gêneros (filtro de gêneros)</p>
    <p>--Implementação da Safe-Search (apesar de sabermos que não vão usar por isso...)</p>
    <p>--Implementação do Panic! Button</p>
    <p>--Alterções no AnimeteK QG (está precisando de uma repaginada)</p>
    <p>--Login de contas, atualmente o AnimeteK é um site público e colaborativo, ainda vai ser, mas queremos permitir que vocês tenham suas listinhas pessoais de animes</p>
  </div>
</ion-content>

<ion-footer>
  <div>
    <h3>4 U Developer!! Para encontrar mais recursos Ionic</h3>
    <a target="_blank"
    rel="noopener noreferrer" 
    href="https://ionicframework.com/docs/components">UI Components</a>
  </div>
</ion-footer>
